div.toDolist{
    list-style-type: none;
    font: 18pt Arial;
};

div.toDolist .done{
    text-decoration: line-through;
    
}

.important{
    font-weight: bold;
    font-style: italic;
    color: rgb(66, 238, 89);

}